name: Format
on: [push, pull_request]

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node.js environment
        uses: actions/setup-node@main
        with:
          node-version-file: package.json

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Format
        run: yarn run format:check
